{% extends 'base_admin.html' %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">User Transactions</h2>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Amount</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Revert</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.source.id }}</td>
	{% if transaction.destination.id == None %}
	<td>ATM Transaction</td>
	{% else %}
        <td>{{ transaction.destination.id }}</td>
	{% endif%}
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.timestamp }}</td>
        <td>
            <form method="POST" action="{% url 'admin_transaction_history' %}">
            {% csrf_token %}
            <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
            <button type="submit" class="btn btn-danger mb-4" name="button">Revert</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
