{% extends 'base.html' %}
{% block content %}

<body>

    <h1 class="display-1">Deposit Funds</h1>
    <hr/>
    <form enctype="multipart/form-data" method="POST" action="" onsubmit="return confirm('All information confirmed & ready to submit?');">
        {% csrf_token %}
        <div class="mb-4 col-7" onchange="loadFile(event)">
            <b>Upload check:</b>
            {{ form.check }}
            <img class="rounded" style="max-width: 500px; max-height: 300px" id="output"/>
            <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>       
        </div>     

        <div class="mb-4 col-2"> 
            <b>Deposit to:</b>
            {{ form.account }}
        </div>

        <div class="mb-4 col-2"> 
            <b>Enter amount:</b>
            {{ form.amount }}
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</body>
{% endblock %}
