{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <img src="{% static 'mainApp/images/logo.png' %}" alt="My Company Logo" class="mb-3">
  </div>
</div>

<div class="row justify-content-center">

  <div class="col-md-3">
    <h1>Login</h1>
    <form method="POST" action=""> 
      {% csrf_token %}

      <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      
      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <button type="submit" class="btn btn-secondary">Submit</button>

    </form>

  </div>

  <div class="col-md-3">
    <h2>$300 checking bonus</h2>
    <p>For new customers opening an account with a minimum opening deposit of $30</p>
  </div>

</div>
{% endblock %}