{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form method="POST" action="" class="mt-5">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <div class="mb-3">
            {{ form.password3.label_tag }}
            {{ form.password3 }}
        </div>
        <div class="text-center">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <button type="submit" class="btn btn-secondary">Reset</button>
        </div>
        <a href="{% url 'home' %}" class="d-block mb-4">Already have an account?</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}